<ion-content>
  <swiper-container
    class="tw-h-screen tw-w-fill-available"
    [resistanceRatio]="0"
  >
    <swiper-slide>
      <div class="tw-relative tw-h-screen tw-w-screen tw-overflow-hidden">
        <!-- <img class="tw-absolute" src="assets/images/onboarding-1.png" alt="" /> -->

        <ion-button
          class="tw-absolute tw-right-6 tw-top-8 tw-ion-bg-white"
          shape="round"
        >
          <ion-icon name="play-skip-forward" slot="icon-only" />
        </ion-button>

        <div
          class="tw-absolute -tw-bottom-[25vh] -tw-left-[25vw] tw-size-[125vw] tw-rounded-full tw-backdrop-blur-md"
        ></div>

        <div
          class="tw-absolute tw-bottom-[6vh] tw-left-4 tw-flex tw-max-w-[78vw] tw-flex-col tw-gap-y-4"
        >
          <div class="tw-mb-4 tw-flex tw-items-center tw-gap-x-2">
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white"></div>
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white/20"></div>
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white/20"></div>
          </div>
          <div class="tw-text-2xl tw-font-bold tw-text-white">
            Stay in the Action
          </div>
          <div class="tw-text-sm tw-font-normal tw-text-white">
            Never miss a moment! Get breaking news and live updates from all
            your favorite sports and teams
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="tw-relative tw-h-screen tw-w-screen tw-overflow-hidden">
        <!-- <img class="tw-absolute" src="assets/images/onboarding-2.png" alt="" /> -->

        <ion-button
          class="tw-absolute tw-right-6 tw-top-8 tw-ion-bg-white"
          shape="round"
        >
          <ion-icon name="play-skip-forward" slot="icon-only" />
        </ion-button>

        <div
          class="tw-absolute -tw-bottom-[25vh] -tw-left-[25vw] tw-size-[125vw] tw-rounded-full tw-backdrop-blur-md"
        ></div>

        <div
          class="tw-absolute tw-bottom-[6vh] tw-left-4 tw-flex tw-max-w-[78vw] tw-flex-col tw-gap-y-4"
        >
          <div class="tw-mb-4 tw-flex tw-items-center tw-gap-x-2">
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white/20"></div>
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white"></div>
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white/20"></div>
          </div>
          <div class="tw-text-2xl tw-font-bold tw-text-white">
            Go Beyond the Game
          </div>
          <div class="tw-text-sm tw-font-normal tw-text-white">
            Never miss a moment! Get breaking news and live updates from all
            your favorite sports and teams
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="tw-relative tw-h-screen tw-w-screen tw-overflow-hidden">
        <!-- <img class="tw-absolute" src="assets/images/onboarding-3.png" alt="" /> -->

        <ion-button
          class="tw-absolute tw-right-6 tw-top-8 tw-ion-bg-white"
          shape="round"
        >
          <ion-icon name="play-skip-forward" slot="icon-only" />
        </ion-button>

        <div
          class="tw-absolute -tw-bottom-[25vh] -tw-left-[25vw] tw-size-[125vw] tw-rounded-full tw-backdrop-blur-md"
        ></div>

        <div
          class="tw-absolute tw-bottom-[6vh] tw-left-4 tw-flex tw-max-w-[78vw] tw-flex-col tw-gap-y-4"
        >
          <div class="tw-mb-4 tw-flex tw-items-center tw-gap-x-2">
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white/20"></div>
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white/20"></div>
            <div class="tw-h-1 tw-w-8 tw-rounded-full tw-bg-white"></div>
          </div>
          <div class="tw-text-2xl tw-font-bold tw-text-white">
            Your Sports, Your Way
          </div>
          <div class="tw-text-sm tw-font-normal tw-text-white">
            Never miss a moment! Get breaking news and live updates from all
            your favorite sports and teams
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
