<ion-header class="ion-no-border tw-py-2">
  <div class="tw-flex tw-h-14 tw-items-center tw-bg-app-secondary tw-px-6">
    <ion-icon
      class="tw-mr-1.5 tw-text-3xl tw-text-app-primary"
      src="assets/icons/icon-official-logo.svg"
    />
    <ion-icon
      class="tw-h-4 tw-text-7xl tw-text-app-black"
      src="assets/icons/icon-official-logo-text.svg"
    />
    <div class="tw-grow"></div>

    <img
      class="tw-size-12 tw-rounded-xl tw-bg-white tw-object-contain"
      src="assets/images/placeholder-profile-picture.png"
      alt=""
    />
  </div>
</ion-header>
