<ion-header class="ion-no-border tw-bg-app-secondary tw-py-2">
  <div class="tw-flex tw-h-14 tw-items-center tw-bg-app-secondary tw-px-6">
    <img
      class="tw-mr-1.5 tw-w-[30%] tw-text-3xl tw-text-app-primary"
      src="assets/icons/new-logo-mdaider.png"
    />
    <!-- <ion-icon
      class="tw-h-4 tw-text-7xl tw-text-app-black"
      src="assets/icons/icon-official-logo-text.svg"
    /> -->
    <div class="tw-grow"></div>

    <div class="tw-relative">
      <img
        class="tw-mt-3 tw-size-12 tw-cursor-pointer tw-rounded-xl tw-bg-white tw-object-contain"
        alt="profile-picture"
        [src]="
          userData?.avatar || 'assets/images/placeholder-profile-picture.png'
        "
        (click)="toggleDropdown()"
      />
      <div
        class="tw-absolute tw-right-0 tw-z-50 tw-m-1 tw-w-32 tw-rounded-2xl tw-bg-white tw-shadow-lg"
        *ngIf="showDropdown"
      >
        <!-- <ion-button
          class="tw-w-full tw-border-none tw-px-4 tw-py-2 tw-text-left tw-font-anek-gurmukhi hover:tw-bg-gray-100"
          type="button"
          fill="outline"
        >
          <ion-icon src="assets/icons/icon-pencil.svg" slot="icon-only" />
          <span>View Profile</span>
        </ion-button> -->
        <!-- <button
          class="tw-flex tw-w-full tw-items-center tw-px-2 tw-py-2 tw-text-left tw-font-anek-gurmukhi hover:tw-bg-gray-100"
          (click)="logout()"
        >
          <ion-icon
            class="tw-px-2 tw-text-2xl"
            name="person-circle-outline"
            slot="icon-only"
          />
          <span class="tw-mt-1 tw-block tw-w-full tw-font-anek-gurmukhi"
            >View Profile</span
          >
        </button> -->
        <button
          class="tw-flex tw-w-full tw-p-4 tw-text-left tw-font-anek-gurmukhi hover:tw-bg-gray-100"
          (click)="viewProfile()"
        >
          <ion-icon
            class="tw-px-2 tw-text-xl"
            name="person-circle-outline"
            slot="icon-only"
          />
          <span class="tw-mt-1 tw-block tw-w-full tw-font-anek-gurmukhi"
            >Profile</span
          >
        </button>
        <button
          class="tw-flex tw-w-full tw-p-4 tw-text-left tw-font-anek-gurmukhi hover:tw-bg-gray-100"
          (click)="logout()"
        >
          <ion-icon
            class="tw-px-2 tw-text-xl"
            name="log-out-outline"
            slot="icon-only"
          />
          <span class="tw-mt-1 tw-block tw-w-full tw-font-anek-gurmukhi"
            >Logout</span
          >
        </button>
      </div>
    </div>
  </div>
</ion-header>
