// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --color-app-primary: 56, 0, 241;
  --color-app-secondary: 245, 242, 255;
  --color-app-black: 30, 28, 36;
  --color-app-gray: 202, 199, 211;
}
