<ion-content class="tw-ion-bg-app-primary">
  <img
    class="tw-fixed -tw-top-0 -tw-z-10 tw-h-screen tw-w-fill-available tw-object-cover"
    src="assets/images/app-background-image.png"
    alt=""
  />
  <div
    class="tw-flex tw-h-screen tw-w-fill-available tw-flex-col tw-items-center tw-justify-center"
  >
    <img
      class="tw-w-[60%] tw-text-4xl tw-text-white"
      src="assets/icons/icon-splash.png"
      alt="splash-icon"
    />
    <!-- <ion-icon
      class="tw-h-8 tw-text-8xl tw-text-white"
      src="assets/icons/icon-splash.png"
    /> -->
  </div>
</ion-content>
