<ion-content [scrollY]="false">
  <img
    class="tw-fixed -tw-top-0 tw-h-screen tw-w-fill-available tw-object-cover"
    src="assets/images/app-background-image.png"
    alt=""
  />

  <div
    class="fvs-125 tw-relative tw-mx-6 tw-flex tw-h-1/3 tw-items-center tw-font-anek-gurmukhi tw-text-5xl tw-font-semibold tw-text-white"
  >
    Reset Password
  </div>

  <form
    class="tw-fixed tw-bottom-0 tw-w-fill-available tw-rounded-t-3xl tw-bg-app-secondary"
    [formGroup]="resetForm"
    (ngSubmit)="submit()"
  >
    <div class="tw-min-h-[60vh] tw-px-4 tw-py-2">
      <h2
        class="fvs-125 tw-mx-0 tw-mb-0 tw-mt-4 tw-w-full tw-pt-4 tw-text-start tw-font-anek-gurmukhi tw-text-2xl tw-font-semibold tw-text-app-black"
      >
        Add new password
      </h2>

      <div class="tw-py-4"></div>

      <div class="tw-w-full">
        <ion-input
          class="tw-min-h-12 tw-font-anek-gurmukhi tw-text-xl tw-text-app-black tw-ion-bg-transparent tw-ion-p-0"
          id="newPassword"
          name="newPassword"
          formControlName="newPassword"
          fill="solid"
          placeholder="New Password"
          [type]="newPasswordVisible ? 'text' : 'password'"
        >
          <ion-button
            type="button"
            aria-label="Show/hide"
            shape="round"
            fill="clear"
            slot="end"
            (click)="newPasswordVisible = !newPasswordVisible"
          >
            <ion-icon
              class="tw-text-xl tw-text-app-black"
              aria-hidden="true"
              slot="icon-only"
              [name]="newPasswordVisible ? 'eye-outline' : 'eye-off-outline'"
            />
          </ion-button>
        </ion-input>
        <app-field-error-message
          styleClass="tw-ml-2 tw-mt-1 tw-h-4 tw-font-anek-gurmukhi tw-text-xs tw-font-normal tw-text-red-500"
          [control]="resetForm.controls.newPassword"
          [customErrorMessages]="{
            required: 'password is required.',
            minlength:
              'password must be at least <REQUIRED_LENGTH> characters.',
          }"
        />
      </div>

      <div class="tw-w-full">
        <ion-input
          class="tw-min-h-12 tw-font-anek-gurmukhi tw-text-xl tw-text-app-black tw-ion-bg-transparent tw-ion-p-0"
          id="confirmPassword"
          name="confirmPassword"
          formControlName="confirmPassword"
          fill="solid"
          placeholder="Confirm Password"
          [type]="confirmPasswordVisible ? 'text' : 'password'"
        >
          <ion-button
            type="button"
            aria-label="Show/hide"
            shape="round"
            fill="clear"
            slot="end"
            (click)="confirmPasswordVisible = !confirmPasswordVisible"
          >
            <ion-icon
              class="tw-text-xl tw-text-app-black"
              aria-hidden="true"
              slot="icon-only"
              [name]="
                confirmPasswordVisible ? 'eye-outline' : 'eye-off-outline'
              "
            />
          </ion-button>
        </ion-input>
        <app-field-error-message
          styleClass="tw-ml-2 tw-mt-1 tw-h-4 tw-font-anek-gurmukhi tw-text-xs tw-font-normal tw-text-red-500"
          [control]="resetForm.controls.confirmPassword"
          [customErrorMessages]="{
            required: 'password is required.',
            minlength:
              'password must be at least <REQUIRED_LENGTH> characters.',
            passwordMismatch: 'password does not match',
          }"
        />
      </div>

      <div class="tw-py-8"></div>

      <ion-button
        class="tw-w-full tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-capitalize tw-text-app-secondary tw-ion-bg-app-primary tw-ion-text-white tw-ion-rounded-2xl tw-ion-shadow-none tw-ion-pb-4 tw-ion-pt-5"
        type="submit"
        expand="block"
      >
        Save
      </ion-button>

      <div class="tw-py-4"></div>
    </div>
  </form>
</ion-content>
