<nav
  class="tw-fixed tw-bottom-0 tw-z-10 tw-w-fill-available tw-bg-transparent"
  id="navigation-tabs"
>
  <div
    class="tw-absolute -tw-top-10 tw-h-12 tw-w-full"
    style="
      background: linear-gradient(
        360deg,
        rgba(103, 118, 255, 0.3) 0%,
        rgba(103, 118, 255, 0) 100%
      );
    "
  ></div>

  <div
    class="tw-relative tw-flex tw-w-full tw-items-center tw-justify-between tw-rounded-t-2xl tw-bg-app-secondary tw-p-1"
  >
    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-ion-bg-transparent tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      routerLink="/home"
      routerDirection="root"
      [cn]="[
        'tw-text-app-gray',
        routeIsActive('/home') && 'tw-text-app-primary tw-scale-110',
      ]"
    >
      <ion-icon
        class="tw-text-4xl"
        src="assets/icons/icon-home.svg"
        slot="icon-only"
      />
    </ion-button>

    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-ion-bg-transparent tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      routerLink="/scan-disease"
      routerDirection="root"
      [cn]="[
        'tw-text-app-gray',
        routeIsActive('/scan-disease') && 'tw-text-app-primary tw-scale-110',
      ]"
    >
      <ion-icon
        class="tw-text-4xl"
        src="assets/icons/icon-face-scan.svg"
        slot="icon-only"
      />
    </ion-button>

    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-ion-bg-transparent tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      routerLink="/patients-log"
      routerDirection="root"
      [cn]="[
        'tw-text-app-gray',
        routeIsActive('/patients-log') && 'tw-text-app-primary tw-scale-110',
      ]"
    >
      <ion-icon
        class="tw-text-4xl"
        src="assets/icons/icon-empty-clipboard.svg"
        slot="icon-only"
      />
    </ion-button>

    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-ion-bg-transparent tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      [cn]="['tw-text-app-gray', false && 'tw-text-app-primary tw-scale-110']"
    >
      <ion-icon
        class="tw-text-4xl"
        src="assets/icons/icon-toilet-man-woman.svg"
        slot="icon-only"
      />
    </ion-button>
  </div>
</nav>
