<nav
  class="tw-fixed tw-bottom-4 tw-w-full tw-bg-transparent"
  id="navigation-tabs"
>
  <div
    class="tw-mx-2 tw-flex tw-w-fill-available tw-items-center tw-justify-between tw-rounded-2xl tw-bg-black tw-p-2 tw-backdrop-blur-lg"
  >
    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-text-white tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      routerLink="/dashboard"
      routerDirection="root"
      [cn]="['tw-ion-bg-transparent', true && 'tw-ion-bg-primary-background']"
    >
      <ion-icon
        class="tw-text-2xl"
        src="../../../assets/icons/icon-signal-box.svg"
        slot="icon-only"
      />
    </ion-button>

    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-text-white tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      [cn]="['tw-ion-bg-transparent', false && 'tw-ion-bg-primary-background']"
    >
      <ion-icon
        class="tw-text-2xl"
        src="../../../assets/icons/icon-news.svg"
        slot="icon-only"
      />
    </ion-button>

    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-text-white tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      routerLink="/gallery"
      routerDirection="root"
      [cn]="['tw-ion-bg-transparent', false && 'tw-ion-bg-primary-background']"
      [queryParams]="{ tab: 'RENDERS' }"
    >
      <ion-icon
        class="tw-text-2xl"
        src="../../../assets/icons/icon-home.svg"
        slot="icon-only"
      />
    </ion-button>

    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-text-white tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      [cn]="['tw-ion-bg-transparent', false && 'tw-ion-bg-primary-background']"
    >
      <ion-icon
        class="tw-text-2xl"
        src="../../../assets/icons/icon-controller.svg"
        slot="icon-only"
      />
    </ion-button>

    <ion-button
      class="tw-flex tw-items-center tw-justify-center tw-text-white tw-ion-shadow-none tw-ion-p-4"
      shape="round"
      [cn]="['tw-ion-bg-transparent', false && 'tw-ion-bg-primary-background']"
    >
      <ion-icon
        class="tw-text-2xl"
        src="../../../assets/icons/icon-menu.svg"
        slot="icon-only"
      />
    </ion-button>
  </div>
</nav>
