<app-header />

<ion-content class="tw-ion-bg-app-secondary" [scrollY]="true">
  <div class="tw-px-6">
    <div class="tw-mb-6 tw-mt-4 tw-flex tw-items-center tw-justify-between">
      <h1
        class="fvs-125 tw-m-0 tw-mt-2 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-2xl tw-font-semibold tw-text-app-black"
      >
        Doctor Profile
      </h1>
      <ion-button
        class="tw-z-10 tw-block tw-ion-text-app-primary hover:tw-bg-transparent"
        type="button"
        fill="none"
        (click)="navigateToDocProfileEdit()"
      >
        <ion-icon
          class="tw-mr-2"
          src="assets/icons/icon-pencil.svg"
          slot="icon-only"
        />
        Edit
      </ion-button>
    </div>

    <div
      class="tw-isolate tw-mb-4 tw-aspect-square tw-w-fill-available tw-overflow-hidden tw-rounded-2xl tw-bg-white"
    >
      <img
        class="tw-h-full tw-w-full tw-object-contain"
        alt=""
        [src]="
          userData?.avatar || 'assets/images/placeholder-profile-picture.png'
        "
      />
    </div>

    <div class="tw-rounded-2xl tw-bg-white tw-px-4 tw-pb-4 tw-pt-2">
      <h2
        class="fvs-125 tw-m-0 tw-mt-2 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
      >
        Profile Info
      </h2>

      <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Doctor
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            {{ userData.firstName }} {{ userData.lastName }}
          </div>
        </div>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Expertise
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            {{ userData.expertise }}
          </div>
        </div>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Age
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            {{ userData.age || 'Not updated' }}
          </div>
        </div>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            About the doctor
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            {{ userData.bio || 'Not updated' }}
          </div>
        </div>
      </div>

      <section id="education">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Education
        </h2>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Board Certification
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          {{ userData.boardCertification || 'Not updated' }}
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          College
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          {{ userData.college || 'Not updated' }}
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          University
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          {{ userData.university || 'Not updated' }}
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Fellowship
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          {{ userData.fellowship || 'Not updated' }}
        </div>
      </section>

      <ng-container *ngIf="userData?.experience?.length; else noExperience">
        <section id="experience">
          <h2
            class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
          >
            Experience
          </h2>

          <ng-container
            *ngFor="let plist of userData.experience; let i = index"
          >
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Hospital {{ i + 1 }}
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              {{ plist }}
            </div>
          </ng-container>
        </section>
      </ng-container>

      <ng-template #noExperience>
        <p
          class="tw-text-center tw-font-anek-gurmukhi tw-text-sm tw-text-app-gray"
        >
          Experience not updated
        </p>
      </ng-template>

      <ng-container *ngIf="userData?.skill?.length; else noExperience">
        <section id="specialties">
          <h2
            class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
          >
            Specialties
          </h2>

          <ng-container *ngFor="let plist of userData.skill; let i = index">
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Skill {{ i + 1 }}
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              {{ plist }}
            </div>
          </ng-container>
        </section>
      </ng-container>

      <ng-template #noExperience>
        <p
          class="tw-text-center tw-font-anek-gurmukhi tw-text-sm tw-text-app-gray"
        >
          Experience not updated
        </p>
      </ng-template>

      <section id="available-slots">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Available Slots
        </h2>

        <ng-container *ngIf="userData?.addDateTime?.length; else noSlots">
          <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
            <div *ngFor="let slot of userData.addDateTime">
              <div
                class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
              >
                {{ slot.day }}
              </div>
              <div
                class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
              >
                <span>{{ slot.openTime | date: 'hh:mm a' }}</span>
                till
                <span>{{ slot.closeTime | date: 'hh:mm a' }}</span>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noSlots>
          <p
            class="tw-text-center tw-font-anek-gurmukhi tw-text-sm tw-text-app-gray"
          >
            Dates and times not updated
          </p>
        </ng-template>
      </section>

      <section id="languages">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Language Spoken
        </h2>
        <ng-container *ngIf="userData?.languages?.length; else noLanguages">
          <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
            <div *ngFor="let lang of userData.languages; let i = index">
              <div
                class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
              >
                Language {{ i + 1 }}
              </div>
              <div
                class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
              >
                {{ lang }}
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noLanguages>
          <p
            class="tw-text-center tw-font-anek-gurmukhi tw-text-sm tw-text-app-gray"
          >
            Language not updated
          </p>
        </ng-template>
      </section>

      <section id="contact">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Contact Details
        </h2>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Social Media
          </div>
          <ng-container *ngIf="parsedSocialLinks?.length; else noSocialMedia">
            <div class="tw-flex tw-flex-wrap tw-gap-x-1 tw-gap-y-2">
              <div *ngFor="let link of parsedSocialLinks">
                <ion-button
                  class="tw-text-black"
                  shape="round"
                  fill="clear"
                  target="_blank"
                  [href]="link.url"
                >
                  <ion-icon slot="icon-only" [src]="link.icon"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ng-container>
          <ng-template #noSocialMedia>
            <p
              class="tw-text-center tw-font-anek-gurmukhi tw-text-sm tw-text-app-gray"
            >
              Social Media links not updated
            </p>
          </ng-template>
        </div>

        <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Email
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              {{ userData.email || 'Not updated' }}
            </div>
          </div>
          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Phone
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              {{ userData.phone || 'Not updated' }}
            </div>
          </div>
        </div>

        <div
          class="tw-mb-1 tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Address
        </div>
        <ng-container *ngIf="userData?.address; else noLocations">
          <app-google-map [address]="userData.address"></app-google-map>
        </ng-container>
        <ng-template #noLocations>
          <p
            class="tw-text-center tw-font-anek-gurmukhi tw-text-sm tw-text-app-gray"
          >
            Address not updated
          </p>
        </ng-template>
      </section>
    </div>
  </div>

  <div class="tw-py-14"></div>

  <app-tabs />
</ion-content>
