<app-header />

<ion-content class="tw-ion-bg-app-secondary" [scrollY]="true">
  <div class="tw-px-6">
    <div class="tw-mb-6 tw-mt-4 tw-flex tw-items-center">
      <h1
        class="fvs-125 tw-m-0 tw-mt-2 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-2xl tw-font-semibold tw-text-app-black"
      >
        Doctor Profile
      </h1>
    </div>

    <div
      class="tw-relative tw-isolate tw-mb-2 tw-aspect-[30/16] tw-w-fill-available tw-overflow-hidden tw-rounded-2xl tw-bg-white"
    >
      <img
        class="tw-h-full tw-w-full tw-object-contain"
        src="assets/images/placeholder-profile-picture.png"
        alt=""
      />
      <ion-button
        class="tw-absolute tw-bottom-2 tw-right-2 tw-z-10 tw-ion-border-color-app-primary tw-ion-text-app-primary"
        type="button"
        fill="outline"
      >
        <ion-icon src="assets/icons/icon-pencil.svg" slot="icon-only" />
      </ion-button>
    </div>

    <div class="tw-rounded-2xl tw-bg-white tw-px-4 tw-pb-4 tw-pt-2">
      <h2
        class="fvs-125 tw-m-0 tw-mt-2 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
      >
        Profile Info
      </h2>

      <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Doctor
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            James Cameron
          </div>
        </div>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Expertise
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            Dermatologist
          </div>
        </div>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Age
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            57
          </div>
        </div>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            About the doctor
          </div>
          <div
            class="tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </div>
        </div>
      </div>

      <section id="education">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Education
        </h2>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Board Certification
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          Medical Oncology & Hematology
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          College
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          Maryland Medical College
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          University
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          University of Pennsylvania
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Fellowship
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          Columbia University Medical Center, Medical Oncology & Hematology
        </div>
      </section>

      <section id="experience">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Experience
        </h2>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Hospital 1
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          Medical Oncology & Hematology
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Hospital 2
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          Maryland Medical College
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Hospital 3
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          University of Pennsylvania
        </div>
      </section>

      <section id="specialties">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Specialties
        </h2>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Skill 1
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          Medical Oncology & Hematology
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Skill 2
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          Maryland Medical College
        </div>

        <div
          class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Skill 3
        </div>
        <div
          class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
        >
          University of Pennsylvania
        </div>
      </section>

      <section id="available-slots">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Available Slots
        </h2>

        <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Monday
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              <span>{{ '2025-03-12T04:30:00.000Z' | date: 'hh:mm a' }}</span>
              till
              <span>{{ '2025-03-12T12:30:00.000Z' | date: 'hh:mm a' }}</span>
            </div>
          </div>

          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Tuesday
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              <span>{{ '2025-03-12T04:30:00.000Z' | date: 'hh:mm a' }}</span>
              till
              <span>{{ '2025-03-12T12:30:00.000Z' | date: 'hh:mm a' }}</span>
            </div>
          </div>
        </div>
      </section>

      <section id="languages">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Language Spoken
        </h2>

        <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Language 1
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              English
            </div>
          </div>

          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Language 2
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              French
            </div>
          </div>

          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Language 3
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              Scottish
            </div>
          </div>
        </div>
      </section>

      <section id="contact">
        <h2
          class="fvs-125 tw-mx-0 tw-my-4 tw-grow tw-pt-0 tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-text-app-black"
        >
          Contact Details
        </h2>

        <div>
          <div
            class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
          >
            Social Media
          </div>

          <ion-button class="tw-text-black" shape="round" fill="clear">
            <ion-icon src="assets/icons/icon-facebook.svg" slot="icon-only" />
          </ion-button>
          <ion-button class="tw-text-black" shape="round" fill="clear">
            <ion-icon src="assets/icons/icon-instagram.svg" slot="icon-only" />
          </ion-button>
          <ion-button class="tw-text-black" shape="round" fill="clear">
            <ion-icon src="assets/icons/icon-linkedin.svg" slot="icon-only" />
          </ion-button>
          <ion-button class="tw-text-black" shape="round" fill="clear">
            <ion-icon src="assets/icons/icon-whatsapp.svg" slot="icon-only" />
          </ion-button>
        </div>

        <div class="tw-flex tw-flex-wrap tw-gap-x-3 tw-gap-y-2">
          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Email
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              abc&#64;gmail.com
            </div>
          </div>
          <div>
            <div
              class="tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
            >
              Phone
            </div>
            <div
              class="tw-mb-3 tw-font-anek-gurmukhi tw-text-sm tw-font-normal tw-text-app-black"
            >
              123 456 789
            </div>
          </div>
        </div>

        <div
          class="tw-mb-1 tw-font-anek-gurmukhi tw-text-xs tw-font-medium tw-text-neutral-400"
        >
          Address
        </div>
        <div
          class="tw-aspect-[85/46] tw-w-fill-available tw-rounded-2xl tw-bg-blue-400"
        ></div>
      </section>
    </div>
  </div>

  <div class="tw-py-14"></div>

  <app-tabs />
</ion-content>
