@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wdth,wght@75..125,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// Font Variation Settings
.fvs-75 {
  font-variation-settings: 'wdth' 75;
}
.fvs-87-5 {
  font-variation-settings: 'wdth' 87.5;
}
.fvs-100 {
  font-variation-settings: 'wdth' 100;
}
.fvs-112-5 {
  font-variation-settings: 'wdth' 112.5;
}
.fvs-125 {
  font-variation-settings: 'wdth' 125;
}
