<app-header />

<ion-content class="tw-ion-bg-app-secondary" [scrollY]="true">
  <div class="tw-px-6">
    <h1
      class="fvs-125 tw-mx-0 tw-mb-6 tw-pt-0 tw-font-anek-gurmukhi tw-text-2xl tw-font-semibold tw-text-app-black"
    >
      Scan Disease
    </h1>

    <ion-button
      class="tw-flex tw-items-center tw-capitalize tw-text-app-secondary tw-ion-bg-app-primary tw-ion-rounded-2xl tw-ion-shadow-none tw-ion-pb-8 tw-ion-pt-10"
      (click)="openCamera()"
    >
      <div
        class="tw-grow tw-text-start tw-font-anek-gurmukhi tw-text-xl tw-font-semibold"
      >
        Camera scan
      </div>
      <ion-icon
        class="tw-text-4xl"
        src="assets/icons/icon-camera-happy-face.svg"
      />
    </ion-button>

    <div class="tw-py-2.5"></div>

    <ion-button
      class="tw-flex tw-items-center tw-capitalize tw-text-app-black tw-ion-bg-white tw-ion-rounded-2xl tw-ion-shadow-none tw-ion-pb-8 tw-ion-pt-10"
      (click)="imageInput.click()"
    >
      <input
        #imageInput
        type="file"
        accept="image/png, image/jpeg, image/jpg"
        hidden
        (change)="handleImageUpload($event)"
      />
      <div
        class="tw-grow tw-text-start tw-font-anek-gurmukhi tw-text-xl tw-font-semibold"
      >
        Upload
      </div>
      <ion-icon
        class="tw-text-4xl tw-text-app-gray"
        src="assets/icons/icon-happy-face.svg"
      />
    </ion-button>

    <div class="tw-py-3.5">
      <div class="tw-mt-4 tw-w-full tw-max-w-xs" *ngIf="uploadedImageUrl">
        <img
          class="tw-w-full tw-rounded-2xl tw-object-contain tw-shadow"
          alt="Uploaded Preview"
          [src]="uploadedImageUrl"
        />
      </div>
    </div>

    <div *ngIf="uploadedImageUrl">
      <ion-button
        class="tw-flex tw-items-center tw-capitalize tw-text-app-secondary tw-ion-bg-app-primary tw-ion-rounded-2xl tw-ion-shadow-none tw-ion-pb-5 tw-ion-pt-5"
        (click)="scanDisease()"
      >
        <div
          class="tw-grow tw-text-start tw-font-anek-gurmukhi tw-text-xl tw-font-semibold"
        >
          Analyze
        </div>
        <ion-icon class="tw-text-4xl" name="sync-circle-outline" />
      </ion-button>
    </div>

    <div
      class="tw-mx-auto tw-mt-6 tw-w-full tw-max-w-md tw-rounded-2xl tw-bg-white tw-p-2 tw-shadow-md"
      *ngIf="results"
    >
      <div class="tw-mb-2 tw-items-center tw-justify-between tw-p-2">
        <span
          class="tw-font-anek-gurmukhi tw-text-xl tw-font-semibold tw-underline tw-underline-offset-2"
        >
          Results
        </span>

        <span
          class="tw-block tw-w-full tw-text-center tw-text-2xl tw-font-bold tw-text-app-gray"
        >
          {{ results.name }}
        </span>
      </div>

      <div class="tw-h-10 tw-w-full tw-rounded-full tw-bg-gray-200">
        <div
          class="tw-flex tw-h-full tw-items-center tw-justify-end tw-rounded-full tw-bg-app-primary tw-pr-2 tw-text-sm tw-font-medium tw-text-white"
          [ngStyle]="{ width: results.percentage + '%' }"
        >
          {{ results.percentage }} %
        </div>
      </div>
      <p
        class="tw-m-0 tw-mt-3 tw-font-anek-gurmukhi tw-text-xs tw-font-normal tw-text-app-black"
      >
        <span class="tw-text-app-primary">Note : </span>
        These results are generated using a machine learning model and may not
        be 100% accurate. Please consult a medical professional for a definitive
        diagnosis. This tool is intended for preliminary analysis only.
      </p>
    </div>
  </div>

  <div class="tw-py-14"></div>

  <app-tabs />
</ion-content>
