<app-header />

<ion-content class="tw-ion-bg-app-secondary" [scrollY]="true">
  <div class="tw-px-6">
    <h1
      class="fvs-125 tw-mx-0 tw-mb-6 tw-pt-0 tw-font-anek-gurmukhi tw-text-2xl tw-font-semibold tw-text-app-black"
    >
      Scan Disease
    </h1>

    <ion-button
      class="tw-flex tw-items-center tw-capitalize tw-text-app-secondary tw-ion-bg-app-primary tw-ion-rounded-2xl tw-ion-shadow-none tw-ion-pb-8 tw-ion-pt-10"
    >
      <div
        class="tw-grow tw-text-start tw-font-anek-gurmukhi tw-text-xl tw-font-semibold"
      >
        Camera scan
      </div>
      <ion-icon
        class="tw-text-4xl"
        src="assets/icons/icon-camera-happy-face.svg"
      />
    </ion-button>

    <div class="tw-py-2.5"></div>

    <ion-button
      class="tw-flex tw-items-center tw-capitalize tw-text-app-black tw-ion-bg-white tw-ion-rounded-2xl tw-ion-shadow-none tw-ion-pb-8 tw-ion-pt-10"
    >
      <div
        class="tw-grow tw-text-start tw-font-anek-gurmukhi tw-text-xl tw-font-semibold"
      >
        Upload
      </div>
      <ion-icon
        class="tw-text-4xl tw-text-app-gray"
        src="assets/icons/icon-happy-face.svg"
      />
    </ion-button>

    <div class="tw-py-3.5"></div>

    <p
      class="tw-m-0 tw-font-anek-gurmukhi tw-text-xs tw-font-normal tw-text-app-black"
    >
      <span class="tw-text-app-primary">Note : </span>
      Pariatur qui veritatis illum porro asperiores dolor ducimus nihil. Maxime
      quia voluptates deserunt dolor quos blanditiis quis optio et. Dolor
      eligendi voluptatem quo repellendus consectetur nesciunt id. Vel deleniti
      labore quam voluptas eum eius. Veniam reiciendis alias enim sit
      exercitationem neque officiis quam sed. Et qui repellat voluptatem et
      dolorem non ipsam eveniet. Numquam molestiae enim labore incidunt modi
      voluptatem commodi. Quis alias magnam iste inventore eos repellat. Et
      eaque atque voluptas pariatur in nostrum architecto. Qui mollitia sit
      ipsum dolores blanditiis magni sapiente. Tenetur perspiciatis rerum sequi.
      Vel qui et ex. Magni consequuntur perferendis illo voluptatum tempora
      quisquam repellat. Odit officiis facilis. Cumque amet non quaerat quaerat.
      Qui et eligendi molestiae omnis beatae ipsum neque. Tempore veniam totam
      corporis laborum cumque. Aut quia sed qui enim.
    </p>
  </div>

  <div class="tw-py-14"></div>

  <app-tabs />
</ion-content>
